<header class="header">
    <img src="dragon.png" alt="Dragon Logo" class="logo" />
  
    <div class="stats">
      <span class="time">00:00</span>
      <span class="hp">HP:100</span>
      <span class="money">MO: 1000</span>
    </div>
  
    <!-- Barra de navegación -->
    <div class="nav">
      <button class="nav-btn">Map</button>
      <button class="nav-btn active">Castle</button>
      <button class="nav-btn">Routes</button>
      <button class="nav-btn sign">Sign in</button>
      <button class="nav-btn register">Register</button>
    </div>
  </header>