<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingeniería y Dragones</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container">
        <h1>INGENIERÍA <br>& DRAGONES</h1>
        <div class="dragon-container">
            <img src="../../../assets/dragon.png" alt="Dragón Rojo">
        </div>
        <button class="start-button">Start</button>
    </div>
</body>
</html>