<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ciudades</title>
</head>
<body>
    <h1>Lista de Ciudades</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Impuesto</th>
                <th>Rutas Salientes</th>
                <th>Ver Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ciudad : ${ciudades}">
                <td th:text="${ciudad.nombre}"></td>
                <td th:text="${ciudad.impuesto}"></td>
                <td>
                    <a th:href="@{/ciudad/view/ruta/{idCiudad}(idCiudad=${ciudad.id})}">Ver Rutas</a>
                </td>
                <td>
                    <a th:href="@{/ciudad/view/{idCiudad}(idCiudad=${ciudad.id})}">Ver Ciudad</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
