<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta List</title>
</head>
<body>
    <h1>Ruta List</h1>
    <p><a th:href="@{/ruta/create}">Crear Ruta</a></p>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Daño</th>
                <th>Distancia</th>
                <th>¿Es segura?</th>
                <th>Ciudad de Origen</th>
                <th>Ciudad de Destino</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ruta : ${rutas}">
                <td th:text="${ruta.Nombre}"></td>
                <td th:text="${ruta.Daño}"></td>
                <td th:text="${ruta.Distancia}"></td>
                <td th:text="${ruta.Segura} ? 'Sí' : 'No'"></td>
                <td th:text="${ruta.ciudadOrigen.Nombre}"></td>
                <td th:text="${ruta.ciudadDestino.Nombre}"></td>
                <td>
                    <a th:href="@{/ruta/view/{id}(id=${ruta.id})}">Ver</a>
                </td>
                <td>
                    <a th:href="@{/ruta/edit/{id}(id=${ruta.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/ruta/delete/{id}(id=${ruta.id})}">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>